<div id="about">
  <div class="about-me">
    <h2>About me</h2>
    <p>
      Nullam condimentum magna nec molestie maximus. Donec at est nec nisl
      malesuada lobortis. Quisque posuere lacus felis, non volutpat purus porta
      ac. Praesent finibus laoreet risus, vitae egestas erat vehicula ac.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Proin maximus diam ut odio vestibulum consectetur.
      Morbi consequat mollis dui, sed egestas odio volutpat sit amet.
    </p>
  </div>
  <div class="about-img">
    <img src="assets/_img/profile-pic.jpg" />
  </div>
</div>
