<div id="about" style="background-image: url('pics/gpt8.png')">
  <div class="me">
    <h2>About me</h2>
    <p>
      Nullam condimentum magna nec molestie maximus. Donec at est nec nisl
      malesuada lobortis. Quisque posuere lacus felis, non volutpat purus porta
      ac. Praesent finibus laoreet risus, vitae egestas erat vehicula ac.
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Proin maximus diam ut odio vestibulum consectetur.
      Morbi consequat mollis dui, sed egestas odio volutpat sit amet. Sed
      imperdiet justo nisi, in consectetur lacus accumsan eu. Duis elit diam,
      ultrices vel tempor non, tristique eu tellus. Morbi sit amet neque
      laoreet, facilisis lorem nec, accumsan orci. Cras rhoncus velit sit amet
      odio hendrerit, sit amet hendrerit arcu laoreet. Sed eget odio nisl.
      Phasellus eget dapibus neque, eget dapibus libero. In sapien massa,
      viverra non iaculis at, tincidunt a lectus.
    </p>
  </div>
</div>
